<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://amcf.no-ip.biz:5432/kbf</property>
<!-- 		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kbf</property> -->
		<property name="hibernate.connection.username">root</property>
		<property name="connection.password"></property>
		<property name="connection.pool_size">1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">false</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class='br.com.lab.models.Cliente'/>
		<mapping class='br.com.lab.models.Parametro'/>
		<mapping class='br.com.lab.models.Orcamento'/>
		<mapping class='br.com.lab.models.QuadroOrcamento'/>
		<mapping class='br.com.lab.models.SequenciadorOrcamento'/>
		<mapping class='br.com.lab.models.Laudo'/>
		<mapping class='br.com.lab.models.CertificadoEnsaio'/>
		<mapping class='br.com.lab.models.ParametroAnalisado'/>
		<mapping class='br.com.lab.models.Amostra'/>
		<mapping class='br.com.lab.models.Coleta'/>
		<mapping class='br.com.lab.models.Coleta'/>
	</session-factory>
</hibernate-configuration>